.App {
  text-align: end;
  background: #1e1e23;
  height: 100vh;
  font-family: Roboto, sans-serif;
  color: aliceblue;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-wrap {
  display: block;
  align-items: center;
  justify-content: center;
  border-style: solid dotted solid dotted;
  border-image: linear-gradient(#ff4500, #1e1e23, #adff2f);
  -moz-border-image: -moz-linear-gradient(#ff4500, #1e1e23, #adff2f);
  -webkit-border-image: -webkit-linear-gradient(#ff4500, #1e1e23, #adff2f);
  border-image-slice: 1;
}

.form-group {
  text-align: center;
  padding-top: 5px;
  margin-left: 4px;
  margin-right: 4px;
}

.btn {
  width: 99px;
  text-align:center;
  display:block;
  font-family: arial;
  text-decoration: none;
  font-weight: 300;
  font-size: 14px;
  border: #483e3e 1px solid;
  color: #483e3e;
  padding: 3px 5px;
  margin: 5px auto;
  transition: .5s;
  border-radius: 5px;
}
.btn:hover {
  top: 5px;
  transition: .5s;
  color: #ff4500;
  border: #ff4500 1px solid;
  border-radius: 12px;
}
.btn:active {
  color: #000;
  border: #1A1A1A 1px solid;
  transition: .07s;
  background-color: #FFF;
}


.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal__content {
  padding: 10px;
  border-radius: 10px;
  background-color: #5d5a5a;
  width: 80%;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.create-event-btn {
  font-family: Roboto, sans-serif;
  color: aliceblue;
  border: solid 2px dimgray;
  border-radius: 11px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
  background-color: #1e1e23;
  height: 25px;
}
.create-event-btn:hover {
  transition: .5s;
  color: #ff4500;
  border: #ff4500 1px solid;
  border-radius: 4px;
  cursor: pointer;
}

.btn-wrap {
  height: 25px;
}

.modal-form {
  display: block;
  align-items: center;
  justify-content: center;
}

.create-event-btn-submit {
  font-family: Roboto, sans-serif;
  color: #ffffff;
  border: solid 2px dimgray;
  border-radius: 11px;
  text-align: center;
  margin-bottom: 10px;
  width: 20%;
  background-color: #1e1e23;
  height: 25px;
}


.create-event-btn-submit:hover {
  transition: .5s;
  color: #ff4500;
  border: #ff4500 1px solid;
  border-radius: 5px;
  cursor: pointer;
}

.content-date {
  width:  100px;
  height: 15px;
  margin-bottom: 10px;
}

.content-text {
  width:  80%;
}

.content-text-border {
  width:  100%;
  height: 20px;
  margin-bottom: 10px;
}